@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/68f02095ce9bf2238d7971b5.68f02096ce9bf2238d7971b8.Ad6RFw1.hcp.png");

@font-face {
  font-family: "SF Pro Display-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FontsFree-Net-SFProDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Display-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Display-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SF-Pro-Display-Medium.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro Display-BoldItalic";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/SF-Pro-Display-BoldItalic.otf") format("opentype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
